<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='css/about.css')}}" class="css">
</head>
<body>
    <div class="container g">
        <center><h1 id="ab">About Us</h1></center>
    </div><br><br>
    <div class="container grid">
        <div class="row">
            <div class="col-sm-4 bg">
                <div class="content ">
                    <center><img style="width: 320px; height: 320px;;" src="{{url_for('static',filename='image/logo.jpg')}}" alt=""></center>
                </div>
            </div>
            <div class="col-sm-8 bg1">
                <div class="content">
                    <center><h2 style="font-family: jokerman; color: blueviolet;">SERVED EVERY DAY</h2></center><br>
                    <h4 style="font-family: 'Courier New', Courier, monospace;"> The mission is simple: serve delicious, affordable that guests will want to retutun to week after week.</h4><br>
                    <h4 style="font-family: 'Courier New', Courier, monospace;">Best quality, Delicious foods and Satisfied rate for all variety of foods.</h4><br>
                    <h4 style="font-family: 'Courier New', Courier, monospace;">Fresh juice brings freshness for you.</h4>
                </div>
            </div>
        </div>
    </div><br><br>
    <div class="container g">
        <center><h3 id="ab">About Our Chefs</h3></center>
    </div><br><br>
    <div class="container grid">
        <div class="row">
            <div class="col-sm-8 bg1">
                <div class="content">
                    <center><h2 style="font-family: jokerman; color: blueviolet;">Great Chefs</h2></center><br>
                    <h4 style="font-family: 'Courier New', Courier, monospace;"> The joy is in cooking for others, Chefs do that job. </h4><br>
                    <h4 style="font-family: 'Courier New', Courier, monospace;">Great chef team makes delicious foods.</h4><br>
                    <h4 style="font-family: 'Courier New', Courier, monospace;">A great chef is an artist that we truly respect them.</h4>
                </div>
            </div>
            <div class="col-sm-4 bg">
                <div class="content ">
                    <center><img style="width: 320px; height: 320px;;" src="{{url_for('static',filename='image/chef.jpg')}}" alt=""></center>
                </div>
            </div>
        </div>
    </div><br><br>
    <div class="container g">
        <center><h3 id="ab">About Our Foods</h3></center>
    </div><br><br>
    <div class="container grid">
        <div class="row">
            <div class="col-sm-4">
                <div class="content">
                    <div class="li"> <center><h5>Juice</h5></center></div>
                    <center><img style="width: 320px; height: 320px;;" src="{{url_for('static',filename='image/juice.jpg')}}" alt=""></center>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="content">
                    <div class="li"> <center><h5>Coffee</h5></center></div>
                    <center><img style="width: 320px; height: 320px;;" src="{{url_for('static',filename='image/coffee.jpg')}}" alt=""></center>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="content">
                    <div class="li"> <center><h5>Veg</h5></center></div>
                    <center><img style="width: 320px; height: 320px;;" src="{{url_for('static',filename='image/veg.jpg')}}" alt=""></center>
                </div>
            </div>
        </div><br><br>
        <div class="row">
            <div class="col-sm-4">
                <div class="content">
                    <div class="li"> <center><h5>Noodles</h5></center></div>
                    <center><img style="width: 320px; height: 320px;;" src="{{url_for('static',filename='image/noodles.jpg')}}" alt=""></center>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="content">
                    <div class="li"> <center><h5>Non-Veg</h5></center></div>
                    <center><img style="width: 320px; height: 320px;;" src="{{url_for('static',filename='image/Non-veg.jpeg')}}" alt=""></center>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="content">
                    <div class="li"> <center><h5>Ice Creams</h5></center></div>
                    <center><img style="width: 320px; height: 320px;;" src="{{url_for('static',filename='image/ice.webp')}}" alt=""></center>
                </div>
            </div>
        </div><br><br>
        <div class="row">
            <div class="col-sm-4">
                <div class="content">
                    <div class="li"> <center><h5>Chocolates</h5></center></div>
                    <center><img style="width: 320px; height: 320px;;" src="{{url_for('static',filename='image/chocolates.jpg')}}" alt=""></center>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="content">
                    <div class="li"> <center><h5>Cool Drinks</h5></center></div>
                    <center><img style="width: 320px; height: 320px;;" src="{{url_for('static',filename='image/drinks.jpg')}}" alt=""></center>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="content">
                    <div class="li"> <center><h5>Breakfast & Dinner</h5></center></div>
                    <center><img style="width: 320px; height: 320px;;" src="{{url_for('static',filename='image/breakfast.jpg')}}" alt=""></center>
                </div>
            </div>
        </div><br><br>
        <div class="row">
            <div class="col-sm-4">
                <div class="content">
                    <div class="li"> <center><h5>Grain Foods</h5></center></div>
                    <center><img style="width: 320px; height: 320px;;" src="{{url_for('static',filename='image/grainfood.jpg')}}" alt=""></center>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="content">
                    <div class="li"> <center><h5>Dessert</h5></center></div>
                    <center><img style="width: 320px; height: 320px;;" src="{{url_for('static',filename='image/desserts.jpg')}}" alt=""></center>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="content">
                    <div class="li"> <center><h5>Soup</h5></center></div>
                    <center><img style="width: 320px; height: 320px;;" src="{{url_for('static',filename='image/soupitem.jpg')}}" alt=""></center>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
</body>
</html>